<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 desktop rescap">
  <Identity Name="RemotePCon" Publisher="CN=RemotePCon" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Remote PC On</DisplayName>
    <PublisherDisplayName>RemotePCon</PublisherDisplayName>
    <Description>Keep this Windows PC awake after a Gmail wake notification.</Description>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RemotePCon.App">
      <uap:VisualElements
        DisplayName="Remote PC On"
        Description="Remote PC On"
        BackgroundColor="transparent"
        AppListEntry="none"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Square150x150Logo="Assets\Square150x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#202020" />
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="RemotePCon.NotificationBackgroundTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
        <desktop:Extension Category="windows.fullTrustProcess" Executable="RemotePCon.FullTrust.exe">
          <desktop:FullTrustProcess />
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <uap3:Capability Name="userNotificationListener" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
